# Alpaca API Keys
ALPACA_API_KEY = ''
ALPACA_SECRET_KEY = ''
# Set to 'true' or 'false'
PAPER = 'true'
# -----------------------------------------------------------------------------------
# Composer API Keys
COMPOSER_API_KEY = ''
COMPOSER_API_SECRET = ''
COMPOSER_ACCOUNT_NUM = ''
COMPOSER_SYMPHONY_IDS= ''
# -----------------------------------------------------------------------------------
# Scwahb API Keys
SCWAHB_API_KEY = ''
SCWAHB_SECRET_KEY = ''
# Split the account nums on ','
SCHWAB_ACCOUNT_NUMS = ''
TMP_TOKEN_PATH = './tmp_token'
CALLBACK_URL = 'https://127.0.0.1:8182'
# -----------------------------------------------------------------------------------
# Settings
# Can be set to 'alpaca' or 'composer'
TRADE_SOURCE='alpaca'
# Can be set to 'local' or 'cloud'
HOSTING_ENV = 'local'
# How often we want to check for changes
PERIOD = 5
# How long we want to wait after a change
CHANGE_WAIT = 5
# How long we want to wait between sell and buy orders
ORDER_WAIT = 5
# How many times we want to retry actions
RETRY = 3
# Used to dictate if orders are real or not (Set to live or debug)
MODE = 'debug'
# Percentage of account equity to trade with (i.e. 1%-100%)
TRADE_WITH = 100
# In the above example, using 90% with a 500$ padding:
#  Account equity = $100,000 * .90 = $90,000 - $500 = $89,500.  
#  This is the amount that will be used as the starting point for all calculations when determining how many shares to purchase, etc.  
#  This allows for some slippage, etc.
# Padding Amount
PADDING = 10.0
# Which way to round shares (near, down)
SHARE_ROUND = 'down'
# Sell timeout
SELL_TIMEOUT = 5
# --------------------------------------
